.popup__close-button{
    width: 32px;
    height: 32px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    background-image: url(../../../images/btn-close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    right: -42px;
    top: -42px;
    transition: ease-in-out .2s;
}

.popup__close-button:hover{
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 560px){
    .popup__close-button{
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    } 
 }