.entrance__button-submit {
    width: 358px;
    min-height: 50px;
    background: #FFFFFF;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #000000;
    border: none;
    margin-top: 216px;
    transition: opacity ease-in-out .2s;
}

.entrance__button-submit:hover{
    cursor: pointer;
    opacity: .85;
}