.elements__card-delete-button{
    width: 18px;
    height: 19px;
    background-color: transparent;
    background-image: url(../../../images/btn-delete.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 20px;
    right: 20px;
    background-size: contain;
    border: none;
    z-index: 1;
}

.elements__card-delete-button:hover{
    cursor: pointer;
    opacity: 0.6;
}